@layout SupportLayout
@page "/add-genre"

<PageTitle>Thêm thể loại</PageTitle>
<AuthorizeView Roles="Adminstrator">
    <Authorized>
        <div class="card mb-4">
            <div class="card-header mb-3">
                Thêm thể loại
            </div>
            <div class="card-body">
                @if (@isLoading)
                {
                    <DATN.Shared.Components.LoadingComponent />
                }
                else
                {
                    <EditForm Model="genre" OnValidSubmit="@AddGenre" Context="aa">
                        <DataAnnotationsValidator />
                        @if (IsName_genExist)
                        {
                            <div class="text-danger col-sm-7 offset-sm-3 ps-0">@errMessage</div>
                        }
                        <div class="form-group row ms-3">
                            <div class="text-danger col-sm-7 offset-sm-3 ps-0">
                                <ValidationMessage For="@(() => genre.genre_name)" />
                            </div>
                        </div>
                        <div class=" form-group row mb-2 ms-3 col-sm-11">
                            <label class="col-sm-3">Tên thể loại</label>
                            <div class="col-sm-4">
                                <InputText @bind-Value="genre.genre_name"
                                       style="@errCodeStyle"
                                       class="form-control form-control-sm" />
                            </div>
                        </div>

                        <div class="form-group row ms-3">
                            <div class="text-danger col-sm-7 offset-sm-3 ps-0">
                                <ValidationMessage For="@(() => genre.status)" />
                            </div>
                        </div>
                        <div class=" form-group  mb-2 ms-3 row col-sm-11">
                            <label class="col-sm-3 col-form-label">Trạng thái</label>
                            <div class="col-sm-4">
                                <InputSelect @bind-Value="genre.status"
                                         class="form-select form-select-sm">
                                    <option selected disabled></option>
                                    @foreach (var ele in status_gen)
                                    {
                                        <option value="@ele">
                                            @ele
                                        </option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="form-group row mb-2 ms-3">
                            <div class="col-sm-9 offset-3">
                                <button type="submit" class="btn btn-primary">Thêm thể loại</button>
                                <a href="/manager-genre" class="btn btn-primary">Trở lại</a>
                            </div>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
        <RadzenNotification />
    </Authorized>
</AuthorizeView>