@layout SupportLayout
@page "/manager-feeback"

<div class="card mb-4">
    <div class="card-header mb-3">
        Quản lý phản hồi
    </div>
    <div class="card-body">
          @if (isLoading)
        {
            <DATN.Shared.Components.LoadingComponent />
        }
        else
        {
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover">
                <thead class="table-warning">
                    <tr>
                        <th>STT</th>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Tin nhắn</th>
                        <th>Trạng thái</th>
                        <th>Ngày cập nhật</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (feedbacks == null || feedbacks.Count() == 0)
                    {
                        <tr class="cus-text-align-center">
                            <td colspan="7">Không có dữ liệu</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in feedbacks)
                        {
                            <tr>
                                <td>@ROW_INDEX</td>
                                <td>@item.user_name</td>
                                <td>@item.email</td>
                                <td>@item.message</td>
                                <td>@item.status</td>
                                <td>@item.update_at</td>
                                <td>
                                    <a href="" class="btn btn-primary"
                               @onclick="() => btn_pass_data(item)"><i class="fas fa-edit"></i> Cập nhật</a>
                                </td>
                            </tr>
                            ROW_INDEX++;
                            @if (ROW_INDEX > feedbacks.Count())
                            { ROW_INDEX = 1; }
                        }
                    }
                </tbody>
            </table>
        </div>
        }
    </div>
</div>
<RadzenNotification />
