@layout SupportLayout
@page "/manager-sale-order"

<div class="card mb-4">
    <div class="card-header mb-3">
        Quản đơn hàng bán
    </div>
    <div class="card-body">
         @if (isLoading)
        {
            <DATN.Shared.Components.LoadingComponent />
        }
        else
        {
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover">
                <thead class="table-warning">
                    <tr>
                        <th>STT</th>
                        <th>Tổng đơn hàng</th>
                        <th>Ngày mua</th>
                        <th>Ngày vận chuyển</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (sale_orders == null || sale_orders.Count() == 0)
                    {
                        <tr class="cus-text-align-center">
                            <td colspan="6">Không có dữ liệu</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in sale_orders)
                        {
                            <tr>
                                <td>@ROW_INDEX</td>
                                <td>@item.price</td>
                                <td>@item.purchase_date.ToString("yyyy-MM-dd")</td>
                                <td>@item.delivery_date.ToString("yyyy-MM-dd")</td>
                                <td>@item.status</td>
                                <td>
                                    <a class="btn btn-primary"
                               @onclick="() => btn_pass_data_b(item)">Xem chi tiết</a>
                                    <a class="btn btn-primary"
                               @onclick="() => UpdateSaleOrder(item)">Cập nhật</a>
                                </td>
                            </tr>
                            ROW_INDEX++;
                            @if (ROW_INDEX > sale_orders.Count())
                            { ROW_INDEX = 1; }
                        }
                    }
                </tbody>
            </table>
        </div>
        }
    </div>
</div>
