@layout SupportLayout
@page "/manager-customer"

<PageTitle></PageTitle>
@*<AuthorizeView Roles="Adminstrator">
    <Authorized>*@
        <div class="card mb-4">
            <div class="card-header mb-3">
                Quản lý khách hàng
            </div>
            <div class="card-body">
                @if (isLoading)
                {
                    <DATN.Shared.Components.LoadingComponent />
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover">
                            <thead class="table-warning">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách</th>
                                    <th>Số điện thoại</th>
                                    <th>Tài khoản</th>
                                    <th>Mật khẩu</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (customers == null || customers.Count() == 0)
                                {
                                    <tr class="cus-text-align-center">
                                        <td colspan="4">Không có dữ liệu</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var ele in customers)
                                    {
                                        <tr>
                                            <td class="cus-width-10">@ROW_INDEX</td>
                                            <td>@ele.customer_name</td>
                                            <td>@ele.customer_phone_number</td>
                                            <td class="cus-width-30">@ele.customer_address</td>
                                            <td>@ele.update_at.ToString("yyyyy-MM-dd")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    ROW_INDEX++;
                    @if (ROW_INDEX > customers.Count())
                    { ROW_INDEX = 1; }
                }
            </div>
        </div>
@*    </Authorized>
</AuthorizeView>*@
