@layout SupportLayout
@page "/manager-book/{Page:int}"
@page "/manager-book"

<PageTitle>Quản lý sách</PageTitle>
<AuthorizeView Roles="Adminstrator">
    <Authorized>
        <div class="card mb-4">
            <div class="card-header mb-3">
                Quản lý sách
            </div>
            <div class="card-body">
                @if (isLoading)
                {
                    <DATN.Shared.Components.LoadingComponent />
                }
                else
                {
                    <div class="table-responsive">
                        <div class="row col-sm-12 mb-4 mt-2">
                            <div class="col-sm-3">
                                <a href="/add-new-book" class="btn btn-primary btn-sm">Thêm sách</a>
                            </div>
                        </div>
                        <table class="table table-sm table-bordered table-hover">
                            <thead class="table-warning">
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Ảnh sách</th>
                                    <th class="text-center">Tên sách</th>
                                    <th class="text-center">Tác giả</th>
                                    <th class="text-center">Thể loại</th>
                                    <th class="text-center">Nhà cung cấp</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center">Giá bán</th>
                                    <th class="text-center">Số lượt xem</th>
                                    <th class="text-center">Số lượng bán</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (detailbooklis_i == null || detailbooklis_i.Count() == 0)
                                {
                                    <tr class="cus-text-align-center">
                                        <td colspan="12">Không có dữ liệu</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var ele in detailbooklis_i)
                                    {
                                        <tr>
                                            <td>@ROW_INDEX</td>
                                            <td class="cus-width-15">
                                                <img class="cus-width-100"
                                         src="@ele.img_url" />
                                            </td>
                                            <td class="cus-width-10">@ele.book_name</td>
                                            <td class="cus-width-10">@ele.author</td>
                                            <td class="cus-width-10">
                                                @ele.supplier_name
                                            </td>
                                            <td class="cus-width-10">
                                                @ele.genre_name
                                            </td>
                                            <td>@ele.amount</td>
                                            <td>@ele.price</td>
                                            <td>@ele.number_click</td>
                                            <td></td>
                                            <td>@ele.status</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm"
                                       @onclick="() => btn_pass_data_b(ele.book_id)"> Cập nhật</a>
                                            </td>
                                        </tr>
                                        ROW_INDEX++;
                                        @if (ROW_INDEX > detailbooklis_i.Count())
                                        { ROW_INDEX = 1; }
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <Paging PI="pagingInfo" PageClassesEnabled="true" PageClass="Paging" PageClassSelected="active" PageUri="@CurrentUri"></Paging>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
            </div>
        </div>
        <RadzenNotification />
    </Authorized>
</AuthorizeView>
