@layout SupportLayout
@page "/update-carousel"
@using DATN.Shared.Components
@inject NavigationManager NavigationManager

<PageTitle> Cập nhật Carousel</PageTitle>
<AuthorizeView Roles="Adminstrator">
    <Authorized>
        <div class="card mb-4">
            <div class="card-header mb-3">
                Cập nhật Carousel
            </div>
            <div class="card-body">
                @if (@isLoading)
                {
                    <DATN.Shared.Components.LoadingComponent />
                }
                else
                {
                    <EditForm Model="carosel_item" OnValidSubmit="@UpdateCarousel" Context="aa">
                        <DataAnnotationsValidator />
                        <div class="form-group row ms-3">
                            <div class="text-danger col-sm-7 offset-sm-3 ps-0">
                                <ValidationMessage For="@(() => carosel_item.tiltle)" />
                            </div>
                        </div>
                        <div class=" form-group row mb-2 ms-3 col-sm-11">
                            <label class="col-sm-3">Tiêu đề</label>
                            <div class="col-sm-4">
                                <InputText @bind-Value="carosel_item.tiltle"
                                       class="form-control form-control-sm" />
                            </div>
                        </div>

                        <div class="form-group row ms-3">
                            <div class="text-danger col-sm-7 offset-sm-3 ps-0">
                                <ValidationMessage For="@(() => carosel_item.content)" />
                            </div>
                        </div>
                        <div class=" form-group  mb-2 ms-3 row col-sm-11">
                            <label class="col-sm-3 col-form-label">Nội dung</label>
                            <div class="col-sm-4">
                                <InputText @bind-Value="carosel_item.content"
                                       class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class=" form-group row mb-2 ms-3 col-sm-11">
                            <label class="col-sm-3 col-form-label">Ảnh</label>
                            <div class="col-sm-4">
                                <img class="cus-width-100"
                                 src="@carosel_item.caroimg_url" />
                            </div>
                        </div>
                        @* <div class=" form-group  mb-2 ms-3 row col-sm-11">
                    <div class="col-sm-4">
                    <InputFile class="form-control form-control-sm"
                    OnChange="@HandleFileSelected" />
                    </div>
                    </div>*@
                        <div class="form-group row mb-2 ms-3">
                            <div class="col-sm-9 offset-3">
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                <button type="button" class="btn btn-primary" @onclick="@btn_handle_del_carousel">Xóa</button>
                                <a href="/manager-carousel" class="btn btn-primary">Trở lại</a>
                            </div>
                        </div>
                    </EditForm>
                }
                <ModalConfirm DeleteGenCallBack="call_back_delete_carousel" @ref=conf />
            </div>
        </div>
        <RadzenNotification />
    </Authorized>
</AuthorizeView>
