@page "/detail"

<PageTitle>Chi tiết</PageTitle>
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
                <img class="w-100 h-100" src="@book_Detail.img_url" />
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@book_Detail.book_name</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary me-2">
                        <small class="oi oi-star"></small>
                        <small class="oi oi-star"></small>
                        <small class="oi oi-star"></small>
                        <small class="oi oi-star"></small>
                        <small class="oi oi-star"></small>
                    </div>
                </div>
                <h3 class="font-weight-semi-bold mb-4">@book_Detail.price VND</h3>
                <div class="d-flex mb-3">
                    <strong class=" me-3">Nhà Xuất bản:</strong>
                    <label> @book_Detail.supplier_name</label>
                </div>
                <div class="d-flex mb-4">
                    <strong class=" me-3">Tác Giả:</strong>
                    <label> @book_Detail.author</label>
                </div>
                <div class="d-flex mb-4">
                    <strong class=" me-3">Thể loại:</strong>
                    <label> @book_Detail.genre_name</label>
                </div>
                <div class="d-flex mb-4">
                    <strong class=" me-3">Số Trang:</strong>
                    <label>@book_Detail.page_number </label>
                </div>
                <div class="d-flex mb-4">
                    <strong class=" me-3">Ngày Xuất Bản:</strong>
                    <label>@book_Detail.release_date.ToString("yyyy/MM/dd")</label>
                </div>
                 <div class="d-flex mb-4">
                    <strong class=" me-3">Giá</strong>
                    <label>@book_Detail.price VND </label>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity me-3" style="width: 130px;">
                        <div class="input-group-btn">
                            @if (isDisable)
                            {
                                <button disabled class="btn btn-primary" @onclick="btn_minus">
                                    <i class="oi oi-minus"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-primary" @onclick="btn_minus">
                                    <i class="oi oi-minus"></i>
                                </button>
                            }
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="@curr_amount">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" @onclick="btn_plus">
                                <i class="oi oi-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3" @onclick="btn_add_to_cart">
                        <i class="oi oi-cart me-1"></i>Thêm vào giỏ hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <BSNav IsTabs="true">
                    <BSNavItem>
                        <TabLabel>Tóm tắt nội dung</TabLabel>
                        <TabContent>
                            <div class="tab-content mt-4">
                                <h4 class="mb-3">Nội Dung</h4>
                                <p>@book_Detail.book_content</p>
                            </div>
                        </TabContent>
                    </BSNavItem>
                    <BSNavItem>
                        <TabLabel>Bình luận</TabLabel>
                        <TabContent>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <h4 class="mb-4">Bình luận cho @book_Detail.book_name</h4>
                                    <div class="media mb-4">
                                        @foreach (var item in reviews)
                                        {
                                            <div class="media-body">
                                                <h6>@item.user_name<small> - <i>@item.create_at.ToString("yyyy-MM-dd")</i></small></h6>
                                                <div class="text-primary mb-2">
                                                    <i class="oi oi-star"></i>
                                                    <i class="oi oi-star"></i>
                                                    <i class="oi oi-star"></i>
                                                    <i class="oi oi-star"></i>
                                                    <i class="oi oi-star"></i>
                                                </div>
                                                <p>@item.review_content</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <EditForm Model="review_item" OnValidSubmit="@AddReview">
                                        <DataAnnotationsValidator />
                                        <div class="d-flex my-3">
                                            <p class="mb-0 me-2">Đánh giá của bạn * :</p>
                                            <select @onchange="(e) => SelChange(e)"
                                                    style="width: 15%; height: 31px;" class="form-select me-3">
                                                <option disabled selected></option>
                                                @foreach (var item in ratings)
                                                {
                                                    <option value="@item">
                                                        @item
                                                    </option>
                                                }
                                            </select>
                                            <div class="text-primary">
                                                <i class="oi oi-star"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-2" for="message">Nội dung bình luận</label>
                                            <div class="form-group ">
                                                <ValidationMessage For="@(() => review_item.review_content)" />
                                            </div>
                                            <InputTextArea @bind-Value="review_item.review_content" id="message" cols="30" rows="5" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-2 mt-2" for="name">Họ Tên</label>
                                            <div class="form-group ">
                                                <ValidationMessage For="@(() => review_item.user_name)" />
                                            </div>
                                            <InputText @bind-Value="review_item.user_name" type="text" class="form-control" id="name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-2 mt-2" for="email"> Email</label>
                                            <div class="form-group ">
                                                <ValidationMessage For="@(() => review_item.email)" />
                                            </div>
                                            <InputText @bind-Value="review_item.email" type="email" class="form-control mb-2" id="email" />
                                        </div>
                                        <div class="form-group mb-2">
                                            <button type="submit" class="btn btn-primary px-3">Gửi bình luận</button>
                                        </div>
                                    </EditForm>
                                </div>
                            </div>
                        </TabContent>
                    </BSNavItem>
                </BSNav>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản Phẩm Tương Tự</span></h2>
        <div class="row px-xl-5">
            @if (book_similers != null && book_similers.Count() > 0)
            {
                @foreach (var ele in book_similers)
                {
                    <div class="col-lg-2 col-md-4 col-sm-4 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="@ele.img_url" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" style="cursor:pointer;"
                               @onclick="() => icon_add_to_cart(ele)">
                                        <i class="oi oi-cart"></i>
                                    </a>
                                    <a class="btn btn-outline-dark btn-square" style="cursor:pointer;"><i class="oi oi-heart"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4 ">
                                <a class="h6 text-decoration-none text-truncate cus-text-secondary cus-font-weight"
                           @onclick="() => pass_data_book(ele)" style="cursor:pointer; display: block;">@ele.book_name</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 class="cus-font-weight">@ele.price VND</h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="oi oi-star text-primary me-1"></small>
                                    <small class="oi oi-star text-primary me-1"></small>
                                    <small class="oi oi-star text-primary me-1"></small>
                                    <small class="oi oi-star text-primary me-1"></small>
                                    <small class="oi oi-star text-primary me-1"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Shop Detail End -->
<RadzenNotification />