@page "/shop/{Page:int}"
@page "/shop"

<PageTitle>Cửa hàng</PageTitle>
@if (IsLoading)
{
    <div class="container-fluid text-center mt-5 mb-5 p-100">
        <DATN.Shared.Components.SmallLoadingComponent />
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3 cus-font-weight"><span class="bg-secondary pr-3">Lọc theo giá tiền</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="form-check-input" checked id="price-all"
                               name="filter"
                               @onchange="@((e) => getvaluecheck(e, 1))">
                            <label class="cus-label" for="price-all">All Price</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="form-check-input" id="price-1"
                               name="filter"
                               @onchange="@((e) => getvaluecheck(e, 2))">
                            <label class="cus-label" for="price-1">Dưới 100.000đ</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="form-check-input" id="price-2"
                               name="filter"
                               @onchange="@((e) => getvaluecheck(e, 3))">
                            <label class="cus-label" for="price-2">Từ 100.000đ - 300.000</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="form-check-input" id="price-3"
                               name="filter"
                               @onchange="@((e) => getvaluecheck(e, 4))">
                            <label class="cus-label" for="price-3">Từ 300.000đ - 500.000</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="form-check-input" id="price-4"
                               name="filter"
                               @onchange="@((e) => getvaluecheck(e, 5))">
                            <label class="cus-label" for="price-4">Trên 500.000</label>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3 cus-font-weight"><span class="bg-secondary pr-3">Lọc theo thể loại</span></h5>
                <div class="bg-light p-4 mb-30">

                    <Select @onchange="@((e) => GetGenreValue(e))"
                        class="form-select form-select-sm">
                        <option selected disabled></option>
                        @if (books != null && books.Count() > 0)
                        {
                            @foreach (var ele in genres)
                            {
                                <option value="@ele.genre_id">
                                    @ele.genre_name
                                </option>
                            }
                        }
                    </Select>

                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    @if (books != null && books.Count() > 0)
                    {
                        @foreach (var ele in books)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden">
                                        <img class="img-fluid w-100" src="@ele.img_url" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" style="cursor:pointer;"
                                   @onclick="() => icon_add_to_cart(ele.book_id)">
                                                <i class="oi oi-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4 ">
                                        <a class="h6 text-decoration-none text-truncate cus-text-secondary cus-font-weight"
                               @onclick="() => pass_data_book(ele.book_id)" style="cursor:pointer; display: block;">@ele.book_name</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5 class="cus-font-weight">@ele.price VND</h5>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <small class="oi oi-star text-primary me-1"></small>
                                            <small class="oi oi-star text-primary me-1"></small>
                                            <small class="oi oi-star text-primary me-1"></small>
                                            <small class="oi oi-star text-primary me-1"></small>
                                            <small class="oi oi-star text-primary me-1"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="col-12">
                        <Paging PI="pagingInfo" PageClassesEnabled="true" PageClass="Paging" PageClassSelected="active" PageUri="@CurrentUri"></Paging>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
}
<!-- Shop End -->
<RadzenNotification />